$regular: 75;
$large: 100;

body {
  // padding: 50px 30px;
  margin: 0;
  background-color: lightgrey;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 #{$regular * -1}px;
  >* {
    margin: 0 0px;
  }
}

.row--even {
  display: flex;
  align-items: center;
  justify-content: center;
  >* {
    margin: 0 0px;
  }
}

.space {
  padding-bottom: 30px;
}

.triangle {
  width: #{calc($regular / 1.75)}px;
  height: #{$regular }px;
  position: relative;
  overflow: hidden;
  background: transparent;
  &__large {
    // @extend .triangle;
    width: #{calc($large / 1.75)}px;
    height: #{$large }px;
  }
  &::before {
    content: '';
    display: block;
    width: 300%;
    height: 150%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    transform: rotate(30deg) scale(1) translateX(-0px);
    transform-origin: 0 100%;
    box-shadow: 0 0 0 100% transparent
  }
  &.invert,
  &.arrow-invert {
    &::before {
      background: transparent;
      box-shadow: 0 0 0 500px black;
    }
  }
}

.triangle--convex {
  // width: #{$regular}px;
  width: #{calc($regular / 1.75)}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: 600%;
    height: 300%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: black;
    border-top-left-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%;
    border-bottom-right-radius: 10% 100%;
    border-top-right-radius: 10% 100%;
    // transform: rotate(45deg) scale(1) translateX(-4px);
    // transform:    rotate(30deg) scale(1) translateX(-6%) translateY(26%);
    transform: rotate(30deg) scale(1) translateX(-4%) translateY(30%);
    transform-origin: 0 100%;
    box-shadow: 0 0 0 500px transparent
  }
  &.invert {
    &::before {
      background: transparent;
      box-shadow: 0 0 0 500px black;
    }
  }
}

.triangle--concave {
  // width: #{$regular}px;
  width: #{calc($regular / 1.75)}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: 600%;
    height: 300%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 100%;
    border-top-left-radius: 50% 100%;
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    background: transparent;
    box-shadow: 0 0 0 500px black;
    //  transform: rotate(45deg) scale(1) translateX(0px) translateY(50%) translateX(-50%);
    // transform: rotate(45deg) scale(1) translateX(0px) translateY(25%) translateX(-97%);
    // transform: rotate(45deg) scale(1) translateX(0px) translateY(26%) translateX(-94%);
    transform: rotate(45deg) scale(1) translateX(0px) translateY(42%) translateX(-100%);
  }
  &.invert,
  &.arrow-invert {
    &::before {
      background: black;
      box-shadow: 0 0 0 500px transparent;
    }
  }
}

.triangle--right {
  width: #{calc($regular / 1.75)}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: #{$regular * 2}px;
    height: #{$regular * 2}px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: 0 0;
    background: transparent;
    box-shadow: 0 0 0 500px black;
    // transform: rotate(135deg) scale(-1, 1) translateX(-100%);
    // transform:    rotate(45deg) scale(1, -1) translateX(6%) translateY(-36%);
    transform: rotate(60deg) scale(1, -1) translateX(6%) translateY(-25%);
  }
  &__large {
   // @extend .triangle--right;
   width: #{calc($large / 1.75)}px;
   height: #{$large}px;

   &::before {
     width: #{$large * 2}px;
     height: #{$large * 2}px;
   }
  }
  &.invert {
    &::before {
      background: black;
      box-shadow: 0 0 0 500px transparent;
    }
  }
}

.triangle--space {
  width: #{calc($regular / 1.75)}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
}

.arrow-right {
  width: #{$regular}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: #{calc($regular / 1.41)}px;
    height: #{calc($regular / 1.41)}px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e888a3;
    transform: rotate(45deg);
    transform-origin: 0 0;
  }
}

.arrow-left {
  width: #{$regular}px;
  height: #{$regular}px;
  position: relative;
  overflow: hidden;
  &::before {
    content: '';
    display: block;
    width: #{calc($regular / 1.41)}px;
    height: #{calc($regular / 1.41)}px;
    position: absolute;
    top: 0;
    right: 0;
    background: #8de698;
    transform: rotate(-45deg);
    transform-origin: 100% 0;
  }
}

// Formats
.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
  >* {
    margin: 0 0px;
  }
}

.outer--container {
  margin: 0 auto;
  max-width: 90%;
}

.container {
  width: #{calc($regular / 1.75) * 12}px;
  margin: 0 auto;
  overflow: hidden;
}